.vs/
bin/
x64/
cpp.hint
.vscode/
.idea/
scenes/Sponza
*.spv
*.vcxproj.user
*.as
imgui.ini
.*/
build/
cmake-build-*/
scenes/bedroom/models
scenes/classroom/models/
scenes/bedroom/textures
scenes/classroom/textures
